<div class="profile-content-edit">     
  <div class="profile-edit">
    <div class="title-text-box">
      <div class="title-text">
        <p>
          <span class="word wisteria">PROFILE!</span>
          <span class="word belize">PROFILE!</span>
          <span class="word pomegranate">PROFILE!</span>
          <span class="word green">PROFILE!</span>
          <span class="word midnight">PROFILE!</span>
        </p>
      </div>
    </div>
    <br>
    <div id="profile-user-name">
      <%= current_user.name %>
    </div>
    <br>
      <div class="field">
        <% if current_user.image.attached?%>
          <%= image_tag @user.image,class:'profile-user-image' %>
        <% else %>
          <% image_tag 'no-image.user.png',class:'profile-user-image' %>
        <% end %>   
      </div>
  </div>
  <%= link_to "DOGRUNs indexに戻る", dogruns_path %>
</div>
