<h1 id = "top-1">DOGRUNs NAVI</h1>

<div id = "top-container">
   <!--一覧リンク-->
    <%= link_to( dogruns_path ,class:'top-title') do %>
        <div id = "top-index"> 
            <p>調べる</p>
        </div>
    <% end %>
 
    <!--登録リンク-->
     <%= link_to( new_dogrun_path ,class:'top-title') do %>
        <div id = "top-new"> 
            <p>登録する</p>
        </div>
    <% end %>
</div>
