/*topページ*/
#top-1 {
    font-family: 'Comic Sans MS';
}
.top-welcome{	
font-family: 'Caveat', cursive;
}
#top-container{
    max-width: 750px;
    margin:0 auto;
    display: flex;
    margin-top: 50px;
}
#top-index{ 
    width: 300px;
    height: 300px;
    float: left;
    display: block;
    padding: 0.5em 1em;
    margin: -2em 50px 0 50px;
    font-weight: bold;
    color: #fff;/*文字色*/
    background: #6091d3;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10%;/*角の丸み*/  
    box-shadow: 2px 2px 2px 2px rgb(3, 99, 155) inset;
}
#top-index:hover{
    transform:scale(1.5,1.5);
}
#top-index p{
   font-size: 70px;
   margin-top: 120px;
}
@media screen and (max-width: 767px){
#top-container{
    max-width: 400px;
    margin:0 auto;
    display: flex;
    margin-top: 50px;
}
#top-index{ 
    width: 150px;
    height: 150px;
    margin: -2em 20px 0 20px;
 }
 #top-index p{
    font-size: 30px;
    margin-top: 50px;
 }}

#top-new{ 
    width: 300px;
    height: 300px;
    float: right;
    display: block;
    width: 300px;
    padding: 0.5em 1em;
    margin: -2em 50px 0 50px;
    font-weight: bold;
    color: #fff;/*文字色*/
    background: #ffbd08;
    border: solid 3px #ffbd08;/*線*/
    border-radius: 10%;/*角の丸み*/ 
    box-shadow: 2px 2px 2px 2px rgb(202, 151, 10) inset;
}
#top-new:hover{
    transform:scale(1.5,1.5);
  }
#top-new p{
   font-size: 60px;
   margin-top: 120px;
  }
.top-title{
    color: #FFF;
}

@media screen and (max-width: 767px){
#top-new{ 
    width: 150px;
    height: 150px;
    margin: -2em 20px 0 20px;
}
#top-new p{
   font-size: 25px;
   margin-top: 50px;
}}

/*indexページ*/
.dogrun-title{
    font-size: 30px;
    font-family: "Noto Sans Mono CJK JP"; 
}
.search-box{
    width:420px;
    padding: 0.5em 1em;
    margin:0 auto;
    font-weight: bold;
    color: black;
    border: solid 3px #ffbd08;
    border-radius: 10px;
    background-color:#ffbd08;
}
.second_area{
    margin-top: 50px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.city{
    margin:0 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.area-box{
    width: 120px;
    padding: 0.5em 1em;
    margin:0 auto;
    font-weight: bold;
    color: black;
}
@media screen and (max-width: 767px){
.area-box{
    width: 100px;
}}
.comment-user-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.dogrun-image{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
    margin: 20px;
}
.index-area{
    max-width: 900px;
    margin: 0 auto ;
}
.dogrun-index-box{
    display: flex;
}
.dogrun-index-name{
    width: 300px;
    padding: 50px 0;
    font-size: 22px;
}
.dogrun-index-area{
    width: 120px;
    padding: 50px 0;
    font-size: 15px;
}
.dogrun-index-address{
    width: 300px;
    text-align: left;
    padding: 50px 0;
    font-size: 15px;
}
@media screen and (max-width: 767px){
.dogrun-index-name{
    width: 300px;
    padding: 20px 0;
    font-size: 17px;
}
.dogrun-index-area{
    width: 100px;
    padding: 20px 5px;
    font-size: 13px;
}
.dogrun-index-address{
    width: 200px;
    text-align: left;
    padding: 20px 0;
    font-size: 15px;
}}
.dogrun-index-link{
    width: 70px;
}
.index-comment-area{
    margin: 10px 100px 0 100px !important;
}
@media screen and (max-width: 767px){
.index-comment-area{
    margin: 10px 10px 0 10px !important;;
}}
.city img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
}
.index-comment-box tbody{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.comment-contents-name{
    padding: 0.5em 1em;
    width: 100px;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.comment-index-image{
    text-align: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    font-size: 10px;
}
.comment-contents{
    text-align: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
@media screen and (max-width: 1000px){
.comment-contents{
    display: none;
}}
.comment-contents-link{
    padding: 0.5em 1em;
    width: 150px;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.comment-title{
    text-align: left;
    width: 200px;
    font-size: large;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    text-decoration: none;
}
@media screen and (max-width: 767px){
.comment-title{
    font-size: 15px;
    width: 250px;   
}
.comment-contents-link{
    font-size: 12px;
    width: 100px;
}}
.comment-dogrun-image{
    width: 120px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;
}

/*searchページ*/
.search-image{
    width: 400px;
    height: 300px;
    margin-right: 30px;
}
.card-wrap{
    width: 90%;
    margin: 0 auto;
}
@media screen and (max-width: 767px){
.search-image{
    width: 200px;
    height: 150px;
    margin-right: 17px;
}}
.content{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.card-list{
    text-align: left;
    max-width: 900px;
    margin: 0 auto 50px auto;
    border: solid 3px #e6d198;
    background-color: #f3c878;;
    color:black;
    display: flex;
}
.card-list h4{
    text-decoration: none;
    font-family: sans-serif;
}

/*showページ*/
.dogrun-show-image{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    object-fit: cover;
}
.index-comment{
    margin: 0 auto;
}
.new-comment-box{
    margin: 0 auto  ;
    width: 80%;
}
.index-comment-table{
    padding: 0.5em 1em ;
    margin: 2em 0 ;
}
.comment-title-show{
    text-align: left;
    width: 200px;
    font-size: large;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    text-decoration: none;
}
.comment-contents-show{
    text-align: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.comment-contents-link-show{
    padding: 0.5em 1em;
    width: 150px;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
@media screen and (max-width: 767px){
.comment-title-show{
    width: 120px;
    font-size: 12px;
}
.comment-contents-show{
    width: 250px;
    font-size: large;
    font-size: 12px;
}
.comment-contents-link-show{
    width: 50px;
    font-size: large;
    font-size: 12px;
    text-align: center;
}}
@media screen and (max-width: 767px){
.posts-content{
    width: 300px !important;
}}

/*_form */
.form-container{
    max-width: 900px;
    margin:0 auto; 
}
.form-box{ 
    text-align:center;
    width: 500px;
    padding: 0.5em 1em;
    margin:0 auto;
    font-weight: bold;
    color: #ffbd08;/*文字色*/
    background: #FFF;
    border: solid 3px #ffbd08;/*線*/
    border-radius: 10px;/*角の丸み*/
}

.dogrun-form-box input[type="text"] {
    width: 450px;
    height: 40px;
}
.dogrun-form-box input[type="text-area"] {
    width: 450px;
    height: 40px;
}
.form-label{
    color: #000;
    font-size: large;
}
