.profile-user-image{
    width: 300px;
    height: 300px;
}
/*editページ*/
.profile-link-box{
    max-width: 900px;
    margin: 0 auto;
}
.profile-link-area{
    margin: 0 14px;
    text-align:center;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px){
.profile-link-area{
    margin: 0 30px 0 100px;
}}
@media screen and (max-width: 500px){
.profile-link-area{
    margin: 0 12px;
}}
.profile-link-text{
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-align: center; 
}
.profile-link{
    margin: 0 40px;
    text-align:center;
    width: 120px;
    border: solid 3px white;
    border-radius: 10px;
}
@media screen and (max-width: 767px){
.profile-link-text{
    font-size: 14px;
    text-align: center;
}
.profile-link{
    margin: 0 10px;
    width: 80px;
    background-color: rgb(56, 255, 30);

}}
#profile-user-name{
    font-size: 40px;
}

.profile-user-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.profile-dogrun-image{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    object-fit: cover;
}

/*indexページ*/
.index-list-box{
    margin: 50px;
}
.created-dogruns-index{
    padding: 0.5em 1em;
    margin:10px;
    border: double 5px #4ec4d3;
}
.created-dogruns-index td{
    padding: 0.5em 1em;
    margin:10px;
    border: double 5px #4ec4d3;
}

@media screen and (max-width: 767px){
.dogrun-pr{
    display: none;
}}

