.login-container{
    max-width: 40%;
    margin:0 auto;
    
}
.login-box{ 

    width: 300px;
    padding: 0.5em 1em;
    margin:0 auto;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}

/*editページ*/
.user-edit-text{
    font-size: 13px;
    color: black;
}
