<p>Hello <%= @resource.email %>!</p>
<p>DOGRUNsNAVIをご利用いただき、誠にありがとうございます。</p>
<p>以下URLよりパスワードの再設定ページにアクセスの上、パスワードの初期設定を行ってください。</p>

<p><%= link_to 'パスワードの再設定はこちら', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>ご注意</p>
<p>このリクエストに心当たりのない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
<br>
<p>DOGRUNsNAVI</p>
